{% extends './base.html' %}


{% block title %}Home page{% endblock %}

{% block body %}


<div class="container mt-5">
    <form method="post" action="card/">{% csrf_token %}
      <div class="mb-2">
        <label for="name" class="form-label">Enter Your Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="name">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Enter your phone number</label>
        <input type="text" class="form-control" id="phone">
      </div>
      <div class="md-4">
        <label for="email" class="form-label">Enter Your Email-id</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="md-5">
        <label for="birth" class="form-label">Enter Your Date Of Birth</label>
        <input type="text" class="form-control" id="birth">
        <small id="emailHelp" class="form-text text-muted">Plese Enter In That Formate e.g.(date-month-year | 19-10-1997).</small>
      </div>
        <div class="md-5">
          <label for="frm" class="form-label">Tenure Start</label>
          <input type="text" class="form-control" id="frm">
        </div>
        <div class="md-5">
          <label for="to" class="form-label">Tenure End</label>
          <input type="text" class="form-control" id="to">
        </div>
      <div class="md-5">
          <label for="special_number" class="form-label">special_number</label>
          <input type="text" class="form-control" id="special_number">
        </div>
<!--      <div class="mb-3 form-check">-->
<!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--      </div>-->
<br>
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
{% endblock %}